<p id="notice"><%= notice %></p>

<h1>students</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Dojo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.email %></td>
       
      </tr>
    <% end %>
  </tbody>
</table> 

<br>

<%= link_to 'New student', "/dojos/#{params[:dojo_id]}/students/new" %>
<br>
<%= link_to 'Back', dojos_path %>
